In [3]:
import pandas as pd
strings = pd.Series(['a', 'b', 'c'])
categories = pd.Series(['a', 'b', 'c'], dtype="category")
ints = pd.Series([1, 2, 3])
floats = pd.Series([1.2, 3.4, 5.6])
bools = pd.Series([True, False, True])
dates = pd.Series([pd.to_datetime('31/12/2018')])
df = pd.DataFrame({'s': strings, 'f': floats})

In [5]:
print(strings.dtype)
print(categories.dtype)
print(ints.dtype)
print(floats.dtype)
print(bools.dtype)
print(dates.dtype)

object
category
int64
float64
bool
datetime64[ns]

In [7]:
dates[0]

Timestamp('2018-12-31 00:00:00')

In [8]:
print(df.dtypes)

s     object
f    float64
dtype: object

In [11]:
single_series = pd.Series(5, index=[0, 1, 2])
single_series

0    5
1    5
2    5
dtype: int64

In [14]:
list_series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
list_series

a    1
b    2
c    3
dtype: int64

In [15]:
dict_series = pd.Series({'a': 1, 'b': 2, 'c': 3})
dict_series

a    1
b    2
c    3
dtype: int64

In [17]:
stock_data = pd.Series({'AAPL': 200, 'MSFT': 120, 'AMZN': 1800})
stock_data

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [18]:
import numpy as np
numpy_series = pd.Series(np.array([1, 2, 3]))
numpy_series

0    1
1    2
2    3
dtype: int32

In [19]:
stock_data

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [20]:
stock_data[0]

200

In [21]:
stock_data['AAPL']

200

In [22]:
stock_data[0:2]

AAPL    200
MSFT    120
dtype: int64

In [23]:
stock_data['AAPL':'AMZN']

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [25]:
print(stock_data.get('MSFT'))
print(stock_data.get(1))

120
120

In [26]:
print(stock_data.max())
print(stock_data.min())
print(stock_data.mean())

1800
120
706.6666666666666

In [27]:
stock_data.size

3

In [28]:
stock_data.describe()

count       3.000000
mean      706.666667
std       947.698968
min       120.000000
25%       160.000000
50%       200.000000
75%      1000.000000
max      1800.000000
dtype: float64

In [29]:
stock_data

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [30]:
stock_data[0] = 210
stock_data

AAPL     210
MSFT     120
AMZN    1800
dtype: int64

In [32]:
stock_data['MSFT'] = 115
stock_data

AAPL     210
MSFT     115
AMZN    1800
dtype: int64

In [33]:
second_stock_data = pd.Series({'AMD': 27, 'NVDA': 190})

In [36]:
stock_data = stock_data.append(second_stock_data)

In [37]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
AMD       27
NVDA     190
dtype: int64

In [38]:
stock_data.pop('AMD')

27

In [39]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [40]:
stock_data.to_list()

[210, 115, 1800, 190]

In [41]:
stock_data.to_dict()

{'AAPL': 210, 'MSFT': 115, 'AMZN': 1800, 'NVDA': 190}

In [42]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [43]:
stock_data.sort_values()

MSFT     115
NVDA     190
AAPL     210
AMZN    1800
dtype: int64

In [44]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [45]:
stock_data.sort_index()

AAPL     210
AMZN    1800
MSFT     115
NVDA     190
dtype: int64

In [46]:
print(stock_data * 1.29)

AAPL     270.90
MSFT     148.35
AMZN    2322.00
NVDA     245.10
dtype: float64

In [47]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [51]:
new_series = pd.Series({'AAPL': 10, 'MSFT': 12, 'AMZN': 18, 'NVDA': 10})
stock_data.add(new_series)

AAPL     220
MSFT     127
AMZN    1818
NVDA     200
dtype: int64

In [52]:
stock_dataframe = pd.DataFrame({'High': [2, 2.2, 2.4], 'Low': [1.5, 1.7, 2.1], 'Close': [2, 2.1, 2.2]})
stock_dataframe

   High  Low  Close
0   2.0  1.5    2.0
1   2.2  1.7    2.1
2   2.4  2.1    2.2

In [53]:
open_prices = pd.Series([5, 5.6, 5.2], index=['Jan 1', 'Jan 2', 'Jan 3'])
close_prices = pd.Series([5.2, 5.7, 5.4], index=['Jan 2', 'Jan 3', 'Jan 4'])

In [57]:
stock_dataframe = pd.DataFrame({'Open': open_prices, 'Close': close_prices})
stock_dataframe

       Open  Close
Jan 1   5.0    NaN
Jan 2   5.6    5.2
Jan 3   5.2    5.7
Jan 4   NaN    5.4

In [59]:
apple_stock_data = pd.read_csv('AAPL.csv')
apple_stock_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-03-12,180.000000,182.669998,179.369995,180.910004,180.910004,32467600
1,2019-03-13,182.250000,183.300003,180.919998,181.710007,181.710007,31032500
2,2019-03-14,183.899994,184.100006,182.559998,183.729996,183.729996,23579500
3,2019-03-15,184.850006,187.330002,183.740005,186.119995,186.119995,39042900
4,2019-03-18,185.800003,188.389999,185.789993,188.020004,188.020004,26219800
5,2019-03-19,188.350006,188.990005,185.919998,186.529999,186.529999,31646400
6,2019-03-20,186.229996,189.490005,184.729996,188.160004,188.160004,31035200
7,2019-03-21,190.020004,196.330002,189.809998,195.089996,195.089996,51034200
8,2019-03-22,195.339996,197.690002,190.779999,191.050003,191.050003,42407700
9,2019-03-25,191.509995,191.979996,186.600006,188.740005,188.740005,43845300
10,2019-03-26,191.660004,192.880005,184.580002,186.789993,186.789993,49800500
11,2019-03-27,188.750000,189.759995,186.550003,188.470001,188.470001,29848400
12,2019-03-28,188.949997,189.559998,187.529999,188.720001,188.720001,20780400
13,2019-03-29,189.830002,190.080002,188.539993,189.949997,189.949997,23564000
14,2019-04-01,191.639999,191.679993,188.380005,191.240005,191.240005,27862000
15,2019-04-02,191.089996,194.460007,191.050003,194.020004,194.020004,22765700
16,2019-04-03,193.250000,196.500000,193.149994,195.350006,195.350006,23271800
17,2019-04-04,194.789993,196.369995,193.139999,195.690002,195.690002,19114300
18,2019-04-05,196.449997,197.100006,195.929993,197.000000,197.000000,18526600
19,2019-04-08,196.419998,200.229996,196.339996,200.100006,200.100006,25881700
20,2019-04-09,200.320007,202.850006,199.229996,199.500000,199.500000,35768200
21,2019-04-10,198.679993,200.740005,198.179993,200.619995,200.619995,21695300
22,2019-04-11,200.850006,201.000000,198.440002,198.949997,198.949997,20879100

In [60]:
apple_stock_data = pd.read_csv('AAPL.csv', parse_dates=True, index_col='Date')
apple_stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-03-12,180.000000,182.669998,179.369995,180.910004,180.910004,32467600
2019-03-13,182.250000,183.300003,180.919998,181.710007,181.710007,31032500
2019-03-14,183.899994,184.100006,182.559998,183.729996,183.729996,23579500
2019-03-15,184.850006,187.330002,183.740005,186.119995,186.119995,39042900
2019-03-18,185.800003,188.389999,185.789993,188.020004,188.020004,26219800
2019-03-19,188.350006,188.990005,185.919998,186.529999,186.529999,31646400
2019-03-20,186.229996,189.490005,184.729996,188.160004,188.160004,31035200
2019-03-21,190.020004,196.330002,189.809998,195.089996,195.089996,51034200
2019-03-22,195.339996,197.690002,190.779999,191.050003,191.050003,42407700
2019-03-25,191.509995,191.979996,186.600006,188.740005,188.740005,43845300
2019-03-26,191.660004,192.880005,184.580002,186.789993,186.789993,49800500
2019-03-27,188.750000,189.759995,186.550003,188.470001,188.470001,29848400
2019-03-28,188.949997,189.559998,187.529999,188.720001,188.720001,20780400
2019-03-29,189.830002,190.080002,188.539993,189.949997,189.949997,23564000
2019-04-01,191.639999,191.679993,188.380005,191.240005,191.240005,27862000
2019-04-02,191.089996,194.460007,191.050003,194.020004,194.020004,22765700
2019-04-03,193.250000,196.500000,193.149994,195.350006,195.350006,23271800
2019-04-04,194.789993,196.369995,193.139999,195.690002,195.690002,19114300
2019-04-05,196.449997,197.100006,195.929993,197.000000,197.000000,18526600
2019-04-08,196.419998,200.229996,196.339996,200.100006,200.100006,25881700
2019-04-09,200.320007,202.850006,199.229996,199.500000,199.500000,35768200
2019-04-10,198.679993,200.740005,198.179993,200.619995,200.619995,21695300
2019-04-11,200.850006,201.000000,198.440002,198.949997,198.949997,20879100

In [62]:
apple_stock_data = pd.read_csv('AAPL.csv', 
                               usecols=['Date', 'Open', 'High', 'Low', 'Close'],
                               parse_dates=True, 
                               index_col='Date')
apple_stock_data

                  Open        High         Low       Close
Date
2019-03-12  180.000000  182.669998  179.369995  180.910004
2019-03-13  182.250000  183.300003  180.919998  181.710007
2019-03-14  183.899994  184.100006  182.559998  183.729996
2019-03-15  184.850006  187.330002  183.740005  186.119995
2019-03-18  185.800003  188.389999  185.789993  188.020004
2019-03-19  188.350006  188.990005  185.919998  186.529999
2019-03-20  186.229996  189.490005  184.729996  188.160004
2019-03-21  190.020004  196.330002  189.809998  195.089996
2019-03-22  195.339996  197.690002  190.779999  191.050003
2019-03-25  191.509995  191.979996  186.600006  188.740005
2019-03-26  191.660004  192.880005  184.580002  186.789993
2019-03-27  188.750000  189.759995  186.550003  188.470001
2019-03-28  188.949997  189.559998  187.529999  188.720001
2019-03-29  189.830002  190.080002  188.539993  189.949997
2019-04-01  191.639999  191.679993  188.380005  191.240005
2019-04-02  191.089996  194.460007  191.050003  194.020004
2019-04-03  193.250000  196.500000  193.149994  195.350006
2019-04-04  194.789993  196.369995  193.139999  195.690002
2019-04-05  196.449997  197.100006  195.929993  197.000000
2019-04-08  196.419998  200.229996  196.339996  200.100006
2019-04-09  200.320007  202.850006  199.229996  199.500000
2019-04-10  198.679993  200.740005  198.179993  200.619995
2019-04-11  200.850006  201.000000  198.440002  198.949997

In [63]:
apple_stock_data['Close']

Date
2019-03-12    180.910004
2019-03-13    181.710007
2019-03-14    183.729996
2019-03-15    186.119995
2019-03-18    188.020004
2019-03-19    186.529999
2019-03-20    188.160004
2019-03-21    195.089996
2019-03-22    191.050003
2019-03-25    188.740005
2019-03-26    186.789993
2019-03-27    188.470001
2019-03-28    188.720001
2019-03-29    189.949997
2019-04-01    191.240005
2019-04-02    194.020004
2019-04-03    195.350006
2019-04-04    195.690002
2019-04-05    197.000000
2019-04-08    200.100006
2019-04-09    199.500000
2019-04-10    200.619995
2019-04-11    198.949997
Name: Close, dtype: float64

In [65]:
apple_stock_data.loc['2019-03-12']

Open     180.000000
High     182.669998
Low      179.369995
Close    180.910004
Name: 2019-03-12 00:00:00, dtype: float64

In [66]:
apple_stock_data.iloc[0]

Open     180.000000
High     182.669998
Low      179.369995
Close    180.910004
Name: 2019-03-12 00:00:00, dtype: float64

In [67]:
apple_stock_data.iloc[0:5]

                  Open        High         Low       Close
Date
2019-03-12  180.000000  182.669998  179.369995  180.910004
2019-03-13  182.250000  183.300003  180.919998  181.710007
2019-03-14  183.899994  184.100006  182.559998  183.729996
2019-03-15  184.850006  187.330002  183.740005  186.119995
2019-03-18  185.800003  188.389999  185.789993  188.020004

In [69]:
print(apple_stock_data['Open']['2019-03-12'])
print(apple_stock_data.loc['2019-03-12']['Open'])

180.0
180.0

In [70]:
first_five = apple_stock_data.iloc[0:5]

In [71]:
first_five.describe()

             Open        High         Low       Close
count    5.000000    5.000000    5.000000    5.000000
mean   183.360001  185.158002  182.475998  184.098001
std      2.290580    2.545833    2.482726    2.977912
min    180.000000  182.669998  179.369995  180.910004
25%    182.250000  183.300003  180.919998  181.710007
50%    183.899994  184.100006  182.559998  183.729996
75%    184.850006  187.330002  183.740005  186.119995
max    185.800003  188.389999  185.789993  188.020004

In [73]:
first_five.max()

Open     185.800003
High     188.389999
Low      185.789993
Close    188.020004
dtype: float64

In [74]:
# returns max based on column (default)
first_five.max(axis=0)

Open     185.800003
High     188.389999
Low      185.789993
Close    188.020004
dtype: float64

In [75]:
# returns max based on row
first_five.max(axis=1)

Date
2019-03-12    182.669998
2019-03-13    183.300003
2019-03-14    184.100006
2019-03-15    187.330002
2019-03-18    188.389999
dtype: float64