In [75]:
! jt -t chesterish

In [2]:
import numpy as np

In [3]:
# int32, float32
volume = 50
price = 100.54

In [4]:
print(type(volume))
print(type(price))

<class 'int'>
<class 'float'>

In [6]:
volume = np.int32(volume)
price = np.float32(price)

In [7]:
print(type(volume))
print(type(price))

<class 'numpy.int32'>
<class 'numpy.float32'>

In [8]:
print(np.dtype(volume))
print(np.dtype(price))

int32
float32

In [9]:
print(volume.dtype)
print(price.dtype)

int32
float32

In [11]:
array = np.array([1, 2, 3], dtype=np.float32)
array.dtype

dtype('float32')

In [14]:
prices = [54.32, 56, 58.93, 57.34]
prices = np.array(prices, dtype=np.float32)
prices.dtype

dtype('float32')

In [16]:
print(np.ones(5))
print(np.zeros(10))

[1. 1. 1. 1. 1.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [22]:
print(np.arange(10))
print(np.arange(1,11))
print(np.arange(1,11, 2))
print(np.linspace(1, 9, 5))

[0 1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10]
[1 3 5 7 9]
[1. 3. 5. 7. 9.]

In [23]:
prices[1]

56.0

In [24]:
prices[0:3]

array([54.32, 56.  , 58.93], dtype=float32)

In [25]:
prices[0:9]

array([54.32, 56.  , 58.93, 57.34], dtype=float32)

In [26]:
prices.item(1)

56.0

In [29]:
print(prices.min())
print(prices.max())
print(prices.mean())

54.32
58.93
56.6475

In [31]:
print(prices.argmax())
print(prices.argmin())

2
0

In [32]:
print(prices.shape)
print(prices.size)

(4,)
4

In [33]:
print(prices.dtype)

float32

In [34]:
prices

array([54.32, 56.  , 58.93, 57.34], dtype=float32)

In [35]:
prices[1] = 57.01
prices

array([54.32, 57.01, 58.93, 57.34], dtype=float32)

In [40]:
prices_list = prices.tolist()
type(prices_list)

list

In [42]:
prices.sort()
prices

array([54.32, 57.01, 57.34, 58.93], dtype=float32)

In [46]:
doubled_prices = prices * 2
doubled_prices

array([108.64, 114.02, 114.68, 117.86], dtype=float32)

In [47]:
added_prices = prices + 10
added_prices

array([64.32    , 67.009995, 67.34    , 68.93    ], dtype=float32)

In [48]:
new_prices = np.array([100, 100, 100, 100])
final_prices = new_prices + prices
final_prices

array([154.31999969, 157.00999832, 157.34000015, 158.93000031])

In [50]:
matrix = [[1, 2], [3, 4], [5, 6]]
matrix

[[1, 2], [3, 4], [5, 6]]

In [53]:
numpy_matrix = np.array(matrix, dtype=np.float32)
numpy_matrix

array([[1., 2.],
       [3., 4.],
       [5., 6.]], dtype=float32)

In [54]:
one_to_ten = np.arange(1, 11)
one_to_ten

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [55]:
matrix = one_to_ten.reshape((2, 5))
matrix

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [56]:
grid = np.indices((2, 3))
grid

array([[[0, 0, 0],
        [1, 1, 1]],

       [[0, 1, 2],
        [0, 1, 2]]])

In [58]:
prices = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
prices

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [64]:
prices[1]

array([4, 5, 6])

In [63]:
prices[1][2]

6

In [65]:
print(prices.size)
print(prices.shape)
print(prices.dtype)

9
(3, 3)
int32

In [66]:
print(prices[0].shape)

(3,)

In [77]:
# min, max, mean
# argmax, argmin

print(prices.min())
print(prices.max())
print(prices.mean())

1
9
5.0

In [80]:

print(prices.min(axis=0))
print(prices.min(axis=1))
print(prices.max(axis=0))
print(prices.max(axis=1))

[1 2 3]
[1 4 7]
[7 8 9]
[3 6 9]

In [81]:
prices[1].min()

4

In [85]:
prices = np.array([[3, 2, 5], [1, 4, 2], [11, 9, 3]])
print(prices.argmax(axis=0))
print(prices.argmax(axis=1))

[2 2 0]
[2 1 0]